/*!
Theme Name: Digicrew
Theme URI: http://demo.weblizar.com/digicrew-marketing-theme/
Author: weblizar
Author URI: www.weblizar.com
Description: DIGICREW , A Flexible WordPress theme specially designed for Digital Marketing Agencies and SEO Agencies ,
SEO optimized WordPress theme for Digital Marketing Agency . Great WordPress theme for Online Marketing, SEO & Social Media Agency
Version: 04062020
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: digicrew
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Digicrew is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
   

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption.aligncenter {
    text-align: center;
}

.wp-block-button {
    margin: 1rem 0;
}
.wp-block-archives:not(.alignwide):not(.alignfull), 
.wp-block-categories:not(.alignwide):not(.alignfull), 
.wp-block-code, .wp-block-columns:not(.alignwide):not(.alignfull), 
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull), 
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright), 
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright), 
.wp-block-media-text:not(.alignwide):not(.alignfull), 
.wp-block-preformatted, 
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright), 
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large, 
.wp-block-verse, 
.wp-block-video:not(.alignwide):not(.alignfull) {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
 /*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Custom CSS START FROM HERE */

.admin-bar .header-one{
    top: 30px
}
.dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: relative;
    margin-left: 10px;
    vertical-align: top;
    border: 0;
    width: auto;
    height: auto;
}
.copyright-nav .nav-link{
    padding: 0;
}
.post-date{
    display: block;
    margin-top: 6px;
}
.search-box .fa-search:before{
    color: #000;
}
.search-box .btn-search {
    border: none;
}
.widget ul{
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
.widget ul li{
    padding: 10px 0;
    clear: both;
}
.widget_categories li, .widget_archive li{
    text-align: right;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}
.widget_archive select, .widget_categories select, .wp-block-archives select, .wp-block-categories select, .widget_text select {
    width: 100%;
    border: 1px solid #B4B8C5;
    padding: 10px;
    color: #7D859F;
}
table, th, td {
    border: 1px solid #B4B8C5 !important;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 0 10px;
    background-color: transparent;
}

td, th {
    padding: 0.4em;
}
.calendar_wrap table{
    width: 100%;
}
.gallery {margin-bottom: 10px;}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0;} 
.gallery-item  img{width: 100%;height: auto;}
.gallery-columns-2 .gallery-item {max-width: 50%; }
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%; }
.gallery-columns-8 .gallery-item {max-width: 12.5%; }
.gallery-columns-9 .gallery-item {max-width: 11.11%; }
.gallery-caption {display: block; }

.tagcloud a,.wp-block-tag-cloud a {
    background: #f7f8fa;
    padding: 8px 15px;
    font-size: 16px !important;
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.cat-item,
.sidebar-box.widget_archive li,
.sidebar-box.widget_meta li,
.sidebar-box.widget_recent_entries li,
.sidebar-box .recentcomments,
.wp-block-archives li{

    padding: 10px 0 !important;
    text-transform: capitalize;
    position: relative;
    padding-left: 18px !important;
    font-weight: 500;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
}
.wp-block-archives{
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.cat-item:before,
.sidebar-box.widget_archive li:before,
.sidebar-box.widget_meta li:before,
.sidebar-box.widget_recent_entries li:before,
.sidebar-box .recentcomments:before,
.wp-block-archives li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    width: 7px;
    height: 7px;
    background: #dcdcdc;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.cat-item:hover,
.sidebar-box.widget_archive li:hover,
.sidebar-box.widget_meta li:hover,
.sidebar-box.widget_recent_entries li:hover,
.sidebar-box .recentcomments:hover,
.cat-item:focus,
.sidebar-box.widget_archive li:focus,
.sidebar-box.widget_meta li:focus,
.sidebar-box.widget_recent_entries li:focus,
.sidebar-box .recentcomments:focus,
.wp-block-archives li:hover,
.wp-block-archives li:focus{
    color: #151B4D !important;
    font-weight: 500;
    margin-left: 8px;
}

footer .cat-item:hover,
footer .sidebar-box.widget_archive li:hover,
footer .cat-item:focus,
footer .sidebar-box.widget_archive li:focus{
    color: #ffffff !important;
    font-weight: 500;
    margin-left: 8px;
}
.cat-item:hover::before,
.sidebar-box.widget_archive li:hover::before,
.wp-block-archives li:hover::before,
.sidebar-box.widget_meta li:hover::before,
.sidebar-box.widget_recent_entries li:hover::before,
.sidebar-box .recentcomments:hover::before,
.cat-item:focus::before,
.sidebar-box.widget_archive li:focus::before,
.sidebar-box.widget_meta li:focus::before,
.sidebar-box.widget_recent_entries li:focus::before,
.sidebar-box .recentcomments:focus::before {
    background: #151B4D;
}
footer .cat-item:hover::before,
footer .sidebar-box.widget_archive li:hover::before,
footer .cat-item:focus::before,
footer .sidebar-box.widget_archive li:focus::before {
    background: #ffffff;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
}
b, strong {
    font-weight: 700;
}

.pagination .page-numbers.current,
.pagination .post-page-numbers.current{
    background: #ffc80a;
}
.pagination .page-numbers, .pagination .post-page-numbers {
    border: none;
    color: #151B4D;
    font-size: 14px;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    font-weight: 500;
    line-height: 29px;
    display: inline-block;
    background: #E4E4E4;
}
.prev.page-numbers{
     margin-right: 7px;
    background: none;
    border: 2px solid #FFC80A;
    padding: 0;
    line-height: 2.1;
    width: 32px;
    height: 32px;
    color: #151B4D;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.next.page-numbers{
    margin-left: 7px;
    background: none;
    border: 2px solid #FFC80A;
    padding: 0;
    line-height: 2.1;
    width: 32px;
    height: 32px;
    color: #151B4D;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.next.page-numbers:hover,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.prev.page-numbers:focus {
    background: #FFC80A;
}
.comment-form-cookies-consent{
    display: none;
}
.comment-box li .children {
    padding-left: 80px;
    list-style: none;
}
.comment-box li .children li {
    margin-top: 40px !important;
}

.text-wht h2 , .text-wht p.sub-title,
.footer-box .post-right a,
.footer-box .post-right span.date{
    color: #fff;
}
.footer-box .post-right a:hover,
.footer-box .post-right a:focus{
    color:#ffc80a;
}
.contact-info{
    padding: 0;
}
.single-blog .home.search-box .btn-search {
    width: 63px;
    height: 63px;
}
.single-blog .home.search-box i,.single-port .home.search-box i{
    text-align: right;
    display: block;
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 9;
    font-size: 30px;
    color: #151B4D;
}
.service-wt-bor .icon-two.red {
    background: #ff9655;
    box-shadow: 0px 0px 10px 1px rgba(255, 150, 85, 0.5);
}
.service-center-with-icon .icon-box.sky {
    background: #6dc9c8;
    box-shadow: 0px 0px 7px 2px rgba(109, 201, 200, 0.5);
}
.service-center-with-icon .icon-box.green {
    background: #45cc89;
    box-shadow: 0px 0px 7px 2px rgba(69, 204, 137, 0.5);
}
.seo-analysis-form .btn {
    color: #151B4D;
    border-radius: 25px;
    background-color: #ffc80a;
    padding: 9px 45px;
    font-size:   16px;
    font-weight: 600;
    margin-top: 10px;
}
@media (max-width: 767px){
.sidebar-box{
    margin-top: 40px;
}}
.sidebar-box .footer-info p {
    color: #585858;
}
.sidebar-box .contact_info-widget h3{
    margin-bottom: 20px;
}
.left-main-title.right,.fea-content.right{
    text-align: right;
}


p.sub-title{
    font-weight: 400;
    font-size: 18px;
    color: #151B4D;
}
.dark p.sub-title {
    font-weight: 500;
    color: #151b4d;
    max-width: 620px;
    margin-bottom: 45px;
}

.search-box .btn-search {
    color: #ffc80a;
}
.inner-banner-info p{
    font-size: 18px;
    font-weight: 500;
}
.wpb_gmaps_widget .wpb_wrapper{
    padding:0 !important;
}
blockquote {
    border-color: #ffc80a;
    border-style: solid;
    border-width: 0 0 0 0.2rem;
    color: inherit;
    font-size: 1em;
    padding: 0.5rem 0 0.5rem 2rem;
}
blockquote p{
    margin-bottom: 0;
}
code{
    color: #ffc80a;
}
td#today {
    color: #371900;
    font-weight: 700 !important;
    background: #FFC809;
}
dd ,dt {
    margin-top: 0.5rem;
}
dl{
    margin-bottom: 0;
}
.widget_nav_menu li li,.widget_pages li li {
    margin-left: 1.0rem;
}
.widget_pages .children{
    border: none;
}
.wp-block-latest-posts.has-dates:not(.is-grid) li {
    margin-top: 1.5rem;
}
/*@media (min-width: 700px){
figcaption, .wp-caption-text {
    margin-top: 1.8rem;
}}*/
.wp-block-search {
    margin-bottom: 1.25em;
}
.wp-block-search input {
    height: 50px;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(47, 2, 94, 0.1);
    background-color: #ffffff;
    border: none;
    font-weight: 500;
    padding-left: 40px;
}
.wp-block-search .wp-block-search__button {
    top        : 4px;
    right      : 4px;
    background : #ffc80a;
    width      : 63px;
    height     : 50px;
    border     : none;
    margin-left: 0 !important;
}
.cat-item .children{
    border-top : none;
}
.tag-sticky-2{
    color   : #23282d;
    border  : 1px solid #e2e4e7;
    border-radius : 4px;
    margin-bottom : 50px;
}
.tag-sticky-2 .blog-box.blog-single-box {
    margin-bottom: 0px;
}
.tag-sticky-2 .blog-content {
    padding: 30px 20px!important;
}
.widget_nav_menu .menu-item-has-children {
    padding-bottom: 0px!important;
}
.footer-box .tagcloud a {
    color: #000;
}
.footer-box .calendar_wrap table,.footer-box .calendar_wrap th,.footer-box .calendar_wrap td {
    border: 1px solid #ffffff !important;
}
.calendar_wrap caption,.wp-block-calendar caption {
    border: 1px solid #ffffff;
    color: #fff;
    padding: 10px;
    text-align: center;
    caption-side: top;
    border-bottom: 0px;
}
.wp-block-cover{
    margin-bottom: 3rem;
}
nav ul.sub-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;  
}
  
nav ul.dropdown li:hover > ul.sub-dropdown ,
.navbar-light .navbar-nav .nav-item.force-show > ul.sub-dropdown,
nav ul.dropdown li a:focus + ul.sub-dropdown
{
    opacity: 1;
    visibility: visible;
}
  
nav ul ul.sub-dropdown li {
    float:none;
    display:list-item;
    position: relative;
}
ul.sub-dropdown {
    background: #fff;
    top: 0;
    left: 170px;
    width: 100%; 
    padding: 15px;
    padding-right: 0;
    list-style: none;
}
.dropdown-toggle.right::after {
    content: "\f105";
}
.dropdown-toggle.right{
    margin-right: 18px !important;
}
.wapper-img img, .team-box img, .wpb_single_image img {
    width: 100%;
}
.main-title-two h2 {
    max-width: 560px;
    margin: 0 auto;
    line-height: 45px;
    text-transform: none;
}
footer .widget_archive select, 
footer .widget_categories select, 
footer .wp-block-archives select, 
footer .wp-block-categories select, 
footer .widget_text select{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}
footer .widget_archive option, 
footer .widget_categories option, 
footer .wp-block-archives option, 
footer .wp-block-categories option, 
footer .widget_text option{
    color:#000;
}
.widget_categories li:first-child,
.widget_archive li:first-child,
.widget_meta li:first-child,
#menu-all-pages li:first-child,
.recentcomments:first-child,
.widget_recent_entries li:first-child,
.recent-post li:first-child {
    padding-top: 0 !important;
}
.widget_categories li .children,
#menu-all-pages li .sub-menu li:first-child{
    padding-top: 20px !important;
}
.widget_categories li .children li:first-child{
    padding-bottom: 0 !important;
}
.cat-item:first-child::before,
.widget_archive li:first-child::before,
.sidebar-box.widget_meta li:first-child::before,
.sidebar-box.widget_recent_entries li:first-child::before,
.sidebar-box .recentcomments:first-child::before{
    top: 7px;
}
footer .textwidget p,footer .widget_rss p{
    color: #fff;
}
.copyright-nav .dropdown-toggle::after{
    content: "";
}
.post.type-post.sticky, .tag-sticky-2 {
    border: none;
    box-shadow: none;
    border-radius: 0px 38px 0px 0px;
    background: #F4F4F4;
}
.sidebar-box caption,.wp-block-calendar caption {
    border: 1px solid #B4B8C5;
    border-bottom: 0;
    padding: 10px;
    font-size: 20px;
    color: #7D859F;
    font-weight: 500;
}
.textwidget strong,.textwidget img{
    display: block;
}
p img.wp-image-904{
    margin-top: 16px;
    clear: both;
}
.single-port img.img-responsive.wp-post-image {
    width: 100%;
    height: fit-content;
    max-height: 451px;
    object-fit: cover;
}
.sidebar-box.posts-list .recent-post li {   
    padding-bottom: 4px;    
    min-height: auto;   
}
.sidebar-box.social-icons-widget h3 {   
    text-transform: uppercase;  
    letter-spacing: 0.5px;  
    margin-bottom: 24px;    
    font-weight: 600;   
    font-size: 20px;    
}
.dropdown li a{
    margin-left: 0 !important;
    margin-right: 28px;
}
        
nav.navbar.navbar-expand-lg {   
    padding-left: 0;    
    padding-right: 0;
}
.sidebar-box .footer-info p {
    font-weight: 500;
}
.blog-data p {
    margin-bottom: 27px;
}
blockquote.quote-card p{
    margin-bottom: 0;
}
.post-right h5 a {
    font-weight: 500;
    font-family: 'Hind Siliguri', sans-serif;
}
.home.search-box input[type="email"]{
    padding-right: 75px;
}
.sidebar-box:last-child {
    margin-bottom: 0;
}
.blog-box.blog-single-box { 
    margin-bottom: 50px;    
} 
.post-left img {
    height: 68px;
    object-fit: cover;
    object-position: 0px 65%;
}
.c-title.left-main-title {
    margin-bottom: 26px;
}
.page-box .comment-area{
    margin-top: 40px;
}
a.navbar-brand img {
 width: 55%;
}
/*.blog-single-box .blog-content {
border: 1px solid #E7EBED;
padding: 20px 20px 24px 20px;
}
.blog-single-box.blog-img .blog-content {
border-top: 0px;
}
.blog-single-box.blog-box .wapper-img {
    margin-bottom: 0;
}*/
.footer-box .wp-calendar-nav{
    border: 1px solid #fff;
    border-top: 0;
}
.wp-calendar-nav{
    border: 1px solid #6d7272;
    padding: 0.4em;
    border-top: 0;
}
.wp-calendar-nav-next{
    float: right;
}
.slicknav_brand img{
    width:50%;
}
@media(max-width:440px){
.slicknav_brand {
    width: 85%;
    padding-top: 12px;
}}
@media(max-width:244px){
.slicknav_brand {
        width: 65%;
    padding-top: 15px;
}}
.widget_search .search-box input{
    height: 50px;
    padding-left: 30px;
    padding-right: 48px;
}
.blocks-gallery-grid, .wp-block-gallery{
    margin-left: 0 !important;
}
.alignfull {
    margin-top: calc(2 * 1rem);
    margin-right: 0;
    margin-bottom: calc(2 * 1rem);
    margin-left: 0;
    max-width: 100%;
}
.right-comment-content {
    padding-left: 120px;
}
.widget .menu li, 
.qts-lang-menu li,
.widget_pages li {
    display: block;
    position: relative;
    margin: 15px 0 0;
    padding: 15px 0 0 !important;
    font-weight: 500;
}
.widget .menu li, 
.widget_pages li, 
.custom-menu.dividers-on li, 
.blogroll li, 
.qts-lang-menu li {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139,141,148,0.15);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.menu li ul, .widget_pages li ul {
    margin-left: 20px !important;
}
.custom-menu>li:first-child, 
.widget .menu>li:first-child, 
.qts-lang-menu li:first-child, 
.widget_pages>ul>li:first-child {
    border: none!important;
    margin-top: 0;
    padding-top: 0 !important;
}
.tagcloud a:hover,
.wp-block-tag-cloud a:hover ,
.tagcloud a:focus,
.wp-block-tag-cloud a:focus {
    background: #ffc80a;
}
.wp-calendar-nav a:hover,
.wp-calendar-nav a:focus {
    color: #ffc80a;
    }
.widget_pages a:hover ,
.widget .menu li a:hover,
.widget_pages a:focus ,
.widget .menu li a:focus{
    color: #151B4D
}
footer .widget_pages a:hover, 
footer .widget .menu li a:hover, 
footer .widget_pages a:focus, 
footer .widget .menu li a:focus,
footer .widget_recent_entries li a:hover,
.recentcomments a:hover,
.rsswidget:hover {
    color: #ffc80a;
}
footer .widget .menu li, 
footer .widget_pages li, 
footer .custom-menu.dividers-on li, 
footer .blogroll li, 
footer .qts-lang-menu li {
    border-color: rgba(255, 255, 255, 0.15);
}
.wp-calendar-nav-prev{
    text-align: left;
}
#wp-calendar{
    margin-bottom: 0;
}
.wp-block-archives-dropdown{
    margin-bottom: 1rem !important;
}
.service-wt-bor h3, .icon-slide .item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.blog-content {
    background: #fff;
    padding: 30px 20px;
}
@media screen and (max-width: 782px){
.admin-bar .header-one {
    top: 46px;
}}
@media screen and (max-width: 600px){
.admin-bar .header-one.stick {
    top: 0;
}}
.blog-box .blog-content .blog-data h3{
    padding-bottom: 0;
}
.blog-box .blog-content .blog-meta li {
    display: inline-block;
    padding-right: 12px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #7D859F;
    text-transform: capitalize;
}
.sticky .blog-content {
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
.blog-box .blog-content .blog-meta li a {
  color: #7D859F;
}
.blog-single-box {
    box-shadow: 0 0 20px 0 rgba(13, 21, 78, 0.06);
    border-top-right-radius: 40px;
}
.single-post .blog-content {
    background: #fff;
    padding: 30px 0px;
}
#btn-to-top:hover::after, #btn-to-top:focus {
    color: #fff;
}
.post-password-form input[type="submit"] {
    color: #151B4D;
    border: 2px solid #ffc80a;
    padding: 9px 45px;
    display: inline-block;
    letter-spacing: 0.5px;
    background: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.post-password-form input[type="submit"]:hover{
    background: #ffc80a;
}
.post-password-form input#pwbox-1168 {
    border: none;
    height: 48px;
    padding-left: 25px;
    background: #f7f8fa;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 66%;
    margin-right: 10px;
    margin-left: 20px;
}
.post-password-form label {
    width: 80%;
    display: contents;
}
.single.single-post .blog-content {
    padding: 0;
}
.blog-box .wapper-img.wapsingleimg{
    margin-bottom: 30px;
}
.rss-date{
    display: block;
    margin: 6px 0;
    color: #a1a2a5;
}
.widget_rss cite{
    margin-top: 6px;
    display: block;
    font-size: 14px;
}
.trackback .right-comment-content,.pingback .right-comment-content {
    padding-left: 0;
}
.wp-block-cover .wp-block-cover-text {
    max-width: 100%;
    font-weight: 700;
    padding: 30px;
}
.service-wt-bor p {
    margin: 0;
}
.widget_rss cite::before {
    content: "Ã¢â‚¬â€ ";
}
.wp-block-cover-text{
    color: #e0dfdf !important;
}
.blog-data ul li {
    margin-bottom: 20px;
}
.blog-data ol li {
    margin-bottom: 15px;
}