/*
  Flaticon icon font: Flaticon
  Creation date: 16/05/2019 08:44
*/

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-data:before { content: "\f100"; }
.flaticon-vector:before { content: "\f101"; }
.flaticon-web-design:before { content: "\f102"; }
.flaticon-web-design-1:before { content: "\f103"; }
.flaticon-app:before { content: "\f104"; }
.flaticon-layout:before { content: "\f105"; }
.flaticon-research:before { content: "\f106"; }
.flaticon-internet:before { content: "\f107"; }
.flaticon-backup:before { content: "\f108"; }
.flaticon-cloud:before { content: "\f109"; }
.flaticon-share:before { content: "\f10a"; }
.flaticon-statistics:before { content: "\f10b"; }
.flaticon-computer-graphic:before { content: "\f10c"; }
.flaticon-research-1:before { content: "\f10d"; }
.flaticon-ux:before { content: "\f10e"; }
.flaticon-product:before { content: "\f10f"; }
    
    $font-Flaticon-data: "\f100";
    $font-Flaticon-vector: "\f101";
    $font-Flaticon-web-design: "\f102";
    $font-Flaticon-web-design-1: "\f103";
    $font-Flaticon-app: "\f104";
    $font-Flaticon-layout: "\f105";
    $font-Flaticon-research: "\f106";
    $font-Flaticon-internet: "\f107";
    $font-Flaticon-backup: "\f108";
    $font-Flaticon-cloud: "\f109";
    $font-Flaticon-share: "\f10a";
    $font-Flaticon-statistics: "\f10b";
    $font-Flaticon-computer-graphic: "\f10c";
    $font-Flaticon-research-1: "\f10d";
    $font-Flaticon-ux: "\f10e";
    $font-Flaticon-product: "\f10f";