.post-type-post .redux-container .redux-sidebar {
    display: none;
}

#adminmenu .wp-menu-image img {
    width: 20px;
}

.vc_el-container [id*='digicrew_'] .vc_element-icon,
.vc_el-container [id^='digicrew_'] .vc_element-icon,
.digicrew-icon-element .vc_element-icon {
    background-image: url('../images/fv-icon.png');
    background-color: transparent;
    background-position: center;
}

.vc_add-element-container .wpb-content-layouts li.digicrew-icon-element_o:hover {
    border-color: #d22c60;
}
.redux-image-select img{
	margin-right: 10px;
}
.redux-logo-text {
    color: #ccc;}