/*-----------------------------------------------------------------------------------

 Theme Name: Digicrew
 Description: The Multi-Purpose Multipage Template
 Version: 1.0

 Main Color   : #ffc80a
 main Font    : Hind Siliguri

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------

 == Table Of Content

    01 Basics
    02 Navbar
    03 Start Banner
    04 Service-tab
    05 Seo-form
    06 Feature-section
        - Icon-slide
        - Skill-section
        - Counter 
    07 Testimonial-section
    08 Pricing-table
    09 Portfolio-section
    10 Team-section
    11 Blog-section
    12 Footer-section
    13 Extra-css
        - Google Map
        - Accordian
        - Comment-form
        - Blockqouts
        - Timeline
        - Pagination
    

---------------------------------------------------------------- */

/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    word-wrap: break-word;
}

html, body {
    color: #7D859F;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #7D859F;
    line-height: 1.5;
    font-family: 'Hind Siliguri', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

span, a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151B4D;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 64px;
}

h2 {
    font-size: 35px;
    line-height: 42px;
}

h3 {
    font-size: 24px;
    line-height: 1.5;
}

h4 {
    font-size: 20px;
    line-height: 1.4;
}

h5 {
    font-size: 16px;
    line-height: 1.4;
}
h6 {
    font-size: 14px;
    line-height: 1.4;
}

span {
    font-family: 'Hind Siliguri', sans-serif;
}
select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
    background: url('../images/down.png') ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 25px;
}
footer select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
    background: url('../images/downw.png') ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 25px;
}
.bor-none {
    border: none !important;
}

.main-title {
    text-align: center;
    margin-bottom: 40px;
}

.main-title-two {
    margin-bottom: 60px;
    text-align: center;
}

.main-title-two .sub-title {
    max-width: 720px;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #7D859F;
}

.bg-theme-blue-gradiant {
    background: rgb(47, 36, 104);
    background: linear-gradient(0deg, rgba(47, 36, 104, 1) 0%, rgba(21, 27, 77, 1) 100%);
}

.bg-dotted {
    background-image: url('../images/bg-shape-3.png');
    background-repeat: no-repeat;
    background-position: right;
}

.bg-dotted-left {
    background-image: url('../images/bg-dotted.jpg');
    background-repeat: no-repeat;
    background-position: left;
}

.bg-dotted-2 {
    background-image: url('../images/bg-shape-2.png')
}

.left-main-title {
    margin-bottom: 40px;
}

.text-wht {
    color: #fff !important;
}

.bg-gray {
    background: #fafafa;
}

.btn-1 {
    color: #151B4D;
    border: 2px solid #ffc80a;
    padding: 9px 45px;
    display: inline-block;
    letter-spacing: 0.5px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.btn-1:hover,.btn-1:focus {
    background-color: #ffc80a;
    color: #151B4D;
}
.center-img-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.left-0{
    left: 0;
}
/*---------------- Sticky-header -------------*/

.header-one.stick {
    border-bottom: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #151b4d;
    -webkit-animation: 300ms ease-in-out 0s normal none fadeInDown;
    animation: 300ms ease-in-out 0s normal none fadeInDown;
    z-index: 999;
}

.header-one.dark {
    border-bottom: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #151b4d;
    -webkit-animation: 300ms ease-in-out 0s normal none fadeInDown;
    animation: 300ms ease-in-out 0s normal none fadeInDown;
    z-index: 999;
}

/*----------------- Preloader -----------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../images/loader.gif") no-repeat center center;
}

/*----------- Button-bottom-to-top -------------*/

#btn-to-top {
    display: inline-block;
    background-color: #ffc80a;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

#btn-to-top::after {
    content: "\f30c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    line-height: 50px;
    color: #151B4D;
}

#btn-to-top:hover,#btn-to-top:focus {
    cursor: pointer;
    background-color: #333;
}

#btn-to-top:hover::after,#btn-to-top:hover::focus {
    color: #fff;
}

#btn-to-top:active {
    background-color: #555;
}

#btn-to-top.show {
    opacity: 1;
    visibility: visible;
}
h1.site-title {
    color: #fff;
    font-size: 34px;
}

/*-------------- Main-spacing -------------*/

.same-section-spacing {
    padding: 100px 0;
}

.ws-section-spacing {
    padding: 100px 0 70px;
}

.title-bottom-spacing {
    margin-bottom: 60px;
}

/* ----------------------------------------------------------------
     [ 02 Start Navbar ]
-----------------------------------------------------------------*/

.header-one {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 99;
}

.navbar-light .navbar-nav {
    position: relative;
    flex-flow: row wrap;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin-left: 27px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .active>.nav-link {
    color: #ffc80a;
}

.navbar-light .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-item .dropdown {
    background: #fff;
    padding: 15px;
    padding-right: 0;
    position: absolute;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    width: max-content;
}

.navbar-light .navbar-nav .nav-item .dropdown .nav-item {
    padding: 8px ;
}
.navbar-light .navbar-nav .nav-item .dropdown .nav-link {
    color: #151B4D;
}

.navbar-light .navbar-nav .nav-item .dropdown .nav-link:hover,
.navbar-light .navbar-nav .nav-item .dropdown .nav-link:focus {
    color: #ffc80a;
}

.navbar-light .navbar-nav .nav-item:hover  .dropdown,
.navbar-light .navbar-nav .nav-item.force-show > .dropdown,
.navbar-light .navbar-nav .nav-item a:focus + .dropdown {
    opacity: 1;
    visibility: visible;
    top: 50px;
    list-style: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

/*----------- Mega-menu ----------------*/

.navbar-light .navbar-nav .nav-item.megamenu {
    position: static;
}

.navbar-light .navbar-nav .nav-item.megamenu .dropdown  ul {
    list-style: none;
    padding: 0;
}
.navbar-light .navbar-nav .nav-item.megamenu .dropdown {
    width: 100%;
    left: 0;
    max-width: 100%;
    list-style: none;
}
.navbar-light .navbar-nav .nav-item.megamenu .dropdown .nav-item {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.navbar-light .navbar-nav .nav-item.megamenu .dropdown .nav-link {
    margin: 0;
}

.navbar-light .navbar-nav .nav-item.megamenu .dropdown .title {
    color: #151B4D;
    font-weight: 600;
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-item.megamenu .dropdown .title::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: #ffc80a;
}

.log-btn a {
    border: 2px solid #ffc80a;
    padding: 4px 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.log-btn a:hover,
.log-btn a:focus {
    background-color: #ffc80a;
    color: #151B4D;
}

/*-------------------------- Slick-Nav ---------------------*/

.slicknav_menu {
    display: none;
}

@media (max-width:992px) {
   .slicknav_menu {
    display: block;
    background: transparent;
    position: relative;
    z-index: 999;
    padding: 5px 0;
    }

    .slicknav_nav .slicknav_row, .slicknav_nav a {
        padding: 15px 15px;
        margin: 0;
    }
    .header-one .navbar {
        display: none;
    }
    .slicknav_nav {
        background: #151b4d;
        position: relative;
        top: 0px;
        padding: 10px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.23);
    }
    .slicknav_btn {
        background: transparent;
    }
    .slicknav_nav a {
        font-size: 15px;
    }
    .slicknav_nav .slicknav_row:hover, 
    .slicknav_nav a:hover,
    .slicknav_nav .slicknav_row:focus, 
    .slicknav_nav a:focus {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 0;
        background: transparent;
        color: #ffc80a;
    }
    .slicknav_nav .slicknav_arrow {
        float: right;
    }
   .slicknav_brand {
    height: 70px;
    padding: 7px 0;
}
    .slicknav_btn {
        padding: 22px 0;
    }
}

/* ----------------------------------------------------------------
     [ 03 Start Banner ]
-----------------------------------------------------------------*/

.hero-area {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.hero-area .slide-table {
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.hero-area .slide-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.hero-area .slide-content {
    overflow: hidden;
}

.hero-area .slide-content h2 {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 0px;
}

.hero-area .slide-content h4 {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    font-size: 22px;
    display: inline-block;
    margin: 0;
}

.hero-area .slide-content h4::after {
    content: "";
    position: absolute;
    top: 12px;
    margin-left: 10px;
    width: 50px;
    height: 2px;
    background: #fff;
}

.hero-area .slide-content p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin: 20px auto 30px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.hero-area .slide-content h1 {
    -webkit-animation: 1s 0.4s fadeInUp both;
    animation: 1s 0.4s fadeInUp both;
}

.hero-area .slide-content p {
    -webkit-animation: 1s 0.8s fadeInUp both;
    animation: 1s 0.8s fadeInUp both;
}

.hero-area .btn-theme {
    -webkit-animation: 1.05s 1.2s fadeIn both;
    animation: 1.05s 1.2s fadeIn both;
}

.hero-area .right-img-box img {
    display: block !important;
    -webkit-animation: 1.05s 1s fadeIn both;
    animation: 1.05s 1s fadeIn both;
}

.hero-area .btn-theme {
    padding: 7px 30px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 30px;
    border: 2px solid #ffc80a !important;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    border: 0;
    z-index: 1;
}

.hero-area .btn-theme:hover,
.hero-area .btn-theme:focus, 
.hero-area .btn-theme.btn-active {
    background-color: #ffc80a;
    color: #151B4D;
}

.hero-area .right-img-box {
    position: absolute;
    top: 55%;
    width: 33%;
    right: 100px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*------------ Shape-animation -----------*/

.abstract-svg-1 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 15px;
    width: 15px;
    left: 4%;
    z-index: 9;
    animation: animationShapeOne 15s infinite linear;
}

.abstract-svg-2 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 10px;
    width: 10px;
    left: 4%;
    top: 50%;
    z-index: 9;
    animation: animationShapeTwo 35s infinite linear;
}

.abstract-svg-3 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 12px;
    width: 12px;
    left: 4%;
    top: 50%;
    z-index: 9;
    animation: animationShapeThree 45s infinite linear;
}

.abstract-svg-4 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 15px;
    width: 15px;
    left: 4%;
    top: 50%;
    z-index: 9;
    animation: animationShapeFour 55s infinite linear;
}

.abstract-svg-5 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 10px;
    width: 10px;
    left: 4%;
    top: 50%;
    z-index: 9;
    animation: animationShapeFive 65s infinite linear;
}

.abstract-svg-6 {
    position: absolute;
    bottom: 19%;
    fill: rgba(255, 255, 255, 0.7);
    height: 5px;
    width: 5px;
    left: 4%;
    top: 50%;
    z-index: 9;
    animation: animationShapeSix 65s infinite linear;
}

@-webkit-keyframes animationShapeOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationShapeTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(50px, -200px) rotate(36deg);
    }
    40% {
        -webkit-transform: translate(300px, -72px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(150px, 222px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationShapeThree {
    0% {
        -webkit-transform: translate(30px, 70px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(150px, -100px) rotate(36deg);
    }
    40% {
        -webkit-transform: translate(100px, -72px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(100px, 210px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-70px, 150px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationShapeFour {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(400px, -1px) rotate(36deg);
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationShapeFive {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(650px, 200px) rotate(50deg);
    }
    40% {
        -webkit-transform: translate(300px, -72px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(150px, 222px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationShapeSix {
    0% {
        -webkit-transform: translate(100px, 0px) rotate(0deg);
    }
    20% {
        -webkit-transform: translate(350px, 100px) rotate(50deg);
    }
    40% {
        -webkit-transform: translate(400px, -112px) rotate(72deg);
    }
    60% {
        -webkit-transform: translate(250px, 322px) rotate(108deg);
    }
    80% {
        -webkit-transform: translate(-60px, 112px) rotate(144deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

/* ----------------------------------------------------------------
     [ 04 Service-tab ]
-----------------------------------------------------------------*/

.service-tab {
    text-align: center;
}

.service-tab .nav-tabs {
    align-items: center;
    justify-content: center;
    display: inline-block;
    border: 2px solid #eee;
    padding: 10px 30px;
    border-radius: 40px;
}

.service-tab .nav-tabs>li {
    display: inline-block;
}

.service-tab .nav-tabs>li>a.active {
    background: #eee;
}

.service-tab .nav-tabs>li>a {
    color: #585858;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
}

.service-tab .tab-content>.active {
    opacity: 1;
}

.service-center-with-icon {
    margin-bottom: 30px;
    text-align: center;
}

.service-center-with-icon .icon-box {
    background: #e7e7e7;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 23px;
    width: 70px;
    height: 70px;
}

.service-center-with-icon .icon-box i::before {
    font-size: 75px;
    color: #151B4D;
    z-index: 1;
    position: relative;
    left: 15px;
    top: -5px;
}

.service-center-with-icon h3 {
    padding-bottom: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}

.service-center-with-icon p {
    padding: 0 10px;
    margin: 0;
}

.service-center-with-icon .icon-box.pink {
    background: #f87488;
    box-shadow: 0px 0px 10px 1px rgba(248, 116, 136, 0.5);
}

.service-center-with-icon .icon-box.blue {
    background: #594fc3;
    box-shadow: 0px 0px 10px 1px rgba(89, 79, 195, 0.5);
    margin-right: 15px;
}

.service-center-with-icon .icon-box.red {
    background: #ff9655;
    box-shadow: 0px 0px 10px 1px rgba(255, 150, 85, 0.5);
}

.service-tab .btn-box {
    margin-top: 30px;
}

/* ----------------------------------------------------------------
     [ 04 Seo-form-area ]
-----------------------------------------------------------------*/

.seo-colaud-area {
    background-image: url(../images/foot-bg.jpg);
    background-color: #2e2367;
    background-size: cover;
}

.seo-title h2 {
    color: #fff;
    margin-bottom: 20px;
}

.seo-title p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.seo-analysis-form {
    background: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 40px 35px;
}

.seo-analysis-form .title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.seo-analysis-form .form-group input {
    border-radius: 25px;
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    border: none;
    height: 35px;
    font-size: 14px;
    color: #7D859F;
    text-align: left;
    margin-bottom: 20px;
    padding: 22px 0;
    padding-left: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.seo-analysis-form button {
    border-radius: 25px;
    background-color: #ffc80a;
    padding: 9px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.seo-analysis-form button>i {
    vertical-align: middle;
    font-size: 14px;
    padding-left: 3px;
}

/* ----------------------------------------------------------------
     [ 06 Feature-section-area  ]
-----------------------------------------------------------------*/

.icon-slide {
    padding: 0 30px;
    margin-bottom: 70px !important;
}

.icon-slide .item {
    text-align: center;
    border: solid 1px #F0EFF8;
    background-color: #FFFFFF;
    padding: 30px 15px;
}

.icon-slide span {
    margin-bottom: 15px;
    display: block;
}

.icon-slide span::before {
    font-size: 55px;
    color: #7D859F;
}

.icon-slide.slick-initialized .slick-slide>div {
    margin: 0 15px;
    padding: 0;
}

.icon-slide .slick-dots {
    bottom: -70px;
    right: -1px;
}

.icon-slide .slick-dots li button:before {
    content: "";
}

.icon-slide .slick-dots li button {
    font-size: 14px;
    font-weight: 600;
    color: #151B4D;
    height: 30px;
    width: 30px;
        background: #E4E4E4;
    border-radius: 50%;
    font-family: 'Work Sans', sans-serif;
}

.icon-slide .slick-dots li {
    width: 30px;
    height: 30px;
}

.icon-slide .slick-dots li.slick-active button {
    background: #ffc80a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-prev, .slick-next {
    border: 2px solid #ffc80a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 99;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.slick-prev {
    left: -15px;
}

.slick-next {
    right: -15px;
}

.slick-prev:hover, 
.slick-next:hover ,
.slick-prev:focus, 
.slick-next:focus {
    background: #ffc80a;
}

.slick-prev:before, .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #151B4D;
    font-size: 16px;
}

.slick-prev:before {
    content: "\f060";
}

.slick-next:before {
    content: "\f061";
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 1;
}

/*------------- Skill-section-area --------------*/

.skills-area {
    position: relative; 
    background: #fafafa;
}

/* .left-img-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 39%;
} */

.skills-area .fea-content {
    margin-bottom: 60px;
}

/*------------- Counter-section-area --------------*/

.counter-area .counter-box {
    background: #f1f1f1;
    padding: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
}

.counter-area .counter-box .counter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    color: #151B4D;
    box-shadow: 6.9px 5.8px 13px 0 rgba(39, 37, 37, 0.4);
    background-color: #f9fbff;
}

.counter-area .counter-box.yellow {
    background: rgb(251, 177, 42);
    background: linear-gradient(173deg, rgba(251, 177, 42, 1) 0%, rgba(240, 219, 104, 1) 88%);
}

.counter-area .counter-box.red {
    background: rgb(184, 40, 40);
    background: linear-gradient(180deg, rgba(184, 40, 40, 1) 0%, rgba(225, 39, 40, 1) 88%);
}

.counter-area .counter-box.sky {
    background: rgb(4, 151, 195);
    background: linear-gradient(180deg, rgba(4, 151, 195, 1) 0%, rgba(4, 192, 194, 1) 88%);
}

.counter-area .counter-box.blue {
    background: rgb(53, 88, 214);
    background: linear-gradient(180deg, rgba(53, 88, 214, 1) 0%, rgba(62, 104, 249, 1) 88%);
}

.counter-area .inner-counter {
    text-align: center;
    margin-bottom: 30px;
}

/* ----------------------------------------------------------------
     [ 07 Testimonial-section-area ]
-----------------------------------------------------------------*/

.testi-bg {
    background-image: url(../images/main.jpg);
}

.testimonial-slider-content .item {
    margin-bottom: 30px;
}

.testimonial-slider-content .item p {
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: 0.6px;
    z-index: 1;
}

.testimonial-slider-content .item p::before {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: rgba(255, 255, 255, 0.15);
    z-index: -1
}

.testi-slide .slick-prev:before, .testi-slide .slick-next:before {
    opacity: 1;
}

.testi-slide .slick-prev:before, .testi-slide .slick-next:before {
    color: #fff;
}

.testimonial-slider-nav .item .img-nav {
    border-radius: 50%;
    padding: 60px 40px;
}

.testimonial-slider-nav.slick-initialized .slick-slide>div {
    padding: 0 15px;
}

.testimonial-slider-nav .item .img-nav img {
    border-radius: 50%;
    cursor: pointer;
}

.testi-slide .slick-current .item .img-nav {
    padding: 20px 30px;
    position: relative;
}

.testi-slide .slick-current .item .img-nav img {
    border: solid 4px #ffc80a;
    background-color: #fafafa;
    width: 100%;
}

.testimonial-slider-nav {
    position: relative;
}

.testimonial-slider-nav::after {
    content: "";
    position: absolute;
    bottom: 64px;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.51);
}

.testi-slide.testimonial-slider-nav .slick-current .item {
    position: relative;
}

.testi-slide.testimonial-slider-nav .slick-current>div {
    padding: 15px 0;
}

.testi-slide.testimonial-slider-nav .slick-current .item .img-nav::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 150px;
    height: 3px;
    background: #ffc80a;
    opacity: 1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.testi-slide.testimonial-slider-nav .item .testi-info {
    text-align: center;
    padding: 0;
    position: relative;
    top: 20px;
    opacity: 0;
    visibility: hidden;
}

.testi-slide.testimonial-slider-nav .item .testi-info h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.testi-slide.testimonial-slider-nav .item .testi-info h5 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.testi-slide.testimonial-slider-nav .slick-current .item .testi-info {
    opacity: 1;
    visibility: visible;
}

.testi-slide .slick-prev, .testi-slide .slick-next {
    top: 40%;
}

/* ----------------------------------------------------------------
     [ 08 Pricing-table ]
-----------------------------------------------------------------*/

.pricingTable {
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(47, 2, 94, 0.1);
    background-color: #ffffff;
}

.pricingTable .pricingTable-header {
    border-radius: 30px;
    border-bottom-right-radius: 0;
    padding: 27px 0 50px;
    overflow: hidden;
    position: relative;
    color: #fff;
    margin: 0px -1px 40px;
    z-index: 1;
    transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricingTable-header,
.pricingTable:focus .pricingTable-header {
    color: #fff;
}

.pricingTable .pricingTable-header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    transform: skewY(8deg);
    transform-origin: right bottom 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
    background: #402a78;
}

.pricingTable.active .pricingTable-header:after, 
.pricingTable:hover .pricingTable-header:after, 
.pricingTable:focus .pricingTable-header:after {
    background: #ffc80b;
    color: #151B4D;
    border: 1px solid #ffc80b;
}

.pricingTable.active .price-value, .pricingTable:hover .price-value,
.pricingTable.active .price-value, .pricingTable:focus .price-value {
    color: #151B4D;
}

.pricingTable .heading {
    font-size: 20px;
    margin: 0
}

.pricingTable .price-value {
    display: block;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

.pricingTable .month {
    font-size: 15px;
    color: #b3b3b3;
}

.pricingTable .pricing-content ul {
    padding: 20px 0 0;
    margin: 0 0 30px 0;
    list-style: none;
}

.pricingTable .pricing-content ul li {
    font-size: 16px;
    color: #7D859F;
    line-height: 40px;
    border-bottom: 1px solid #f8f7f7;
    padding: 10px;
}

.pricingTable .pricing-content ul li:last-child {
    border-bottom: none;
}

.pricingTable .read {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #151B4D;
    padding: 12px 90px;
    border-radius: 28px;
    box-shadow: 0 0 15px 0 rgba(47, 2, 94, 0.2);
    border: solid 4px transparent;
    background-color: #ffffff;
    transition: all 0.5s ease 0s;
}

.pricingTable.active .read, 
.pricingTable:hover .read, 
.pricingTable .read:hover , 
.pricingTable:focus .read, 
.pricingTable .read:focus {
    border: solid 4px #ffc80a;
}

/* ----------------------------------------------------------------
     [ 09 Portfolio-section ]
-----------------------------------------------------------------*/

.port-slide .slick-prev, .port-slide .slick-next {
    left: -9%;
    right: inherit;
}

.port-slide .slick-next {
    left: -4% !important;
}

.port-slide .slick-dots {
    display: none !important;
}

.port-slide.slick-dotted.slick-slider {
    margin-left: 25px;
    margin-bottom: 0;
}

.slick-initialized .slick-slide>div {
    padding-left: 30px;
}

.port-box img {
    border-top-right-radius: 40px;
    width: 100%;
    height: fit-content;
    max-height: 352px;
    object-fit: cover;
}

.port-box .port-info {
    background-color: #f7f8f9;
    padding: 30px;
}

.port-box .port-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.port-box .port-info p {
    display: inline-block;
    margin: 0;
    color: #7D859F;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.port-box .port-info span {
    float: right;
    color: #f9593a;
}

/* ----------------------------------------------------------------
     [ 10 Team-section ]
-----------------------------------------------------------------*/

.team-box {
    position: relative;
    background-color: #fafafa;
    padding: 15px 20px 0;
    border-top-right-radius: 40px;
    margin-bottom: 30px;
}

.team-box .team-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.team-box:hover .team-overlay,
.team-box:focus .team-overlay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.team-box .team-overlay .team-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    flex-direction: column;
}

.team-box .team-overlay .team-info h3 {
    color: #fff;
    margin-bottom: 3px;
}

.team-box .team-overlay .team-info h4 {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.team-box .team-overlay .team-info .social-icon {
    padding: 10px 0;
    margin: 0;
    position: relative;
}

.team-box .team-overlay .team-info .social-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background: #ffc80a;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.team-box .team-overlay .team-info .social-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #ffc80a;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.team-box:hover .team-overlay .team-info .social-icon::before, 
.team-box:hover .team-overlay .team-info .social-icon::after,
.team-box:focus .team-overlay .team-info .social-icon::before, 
.team-box:focus .team-overlay .team-info .social-icon::after {
    width: 65px;
}

.team-box .team-overlay .team-info .social-icon li {
    display: inline-block;
    padding: 0 8px;
}

.team-box .team-overlay .team-info .social-icon li>a {
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.team-box .team-overlay .team-info .social-icon li>a:hover,
.team-box .team-overlay .team-info .social-icon li>a:focus {
    color: #ffc80a;
}

/* ----------------------------------------------------------------
     [ 11 Blog-section ]
-----------------------------------------------------------------*/

.blog-box {
    margin-bottom: 30px;
}

.blog-box .wapper-img {
    border-top-right-radius: 40px;
    margin-bottom: 0;
}

.blog-box .wapper-img img {
    border-top-right-radius: 40px;
}

.blog-box .blog-content h3 {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
}

.blog-box .blog-content .read-btn, .blog-box .blog-content .blog-meta li>a, 
.blog-box .blog-content h3>a {
    color: #151B4D;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.blog-box .blog-content .read-btn:hover, 
.blog-box .blog-content h3>a:hover,
.blog-box .blog-content .read-btn:focus, 
.blog-box .blog-content h3>a:focus {
    color: #ffc80a;
}

.blog-box .blog-content .blog-meta {
    margin-bottom: 20px;
}

.blog-box .blog-content .blog-meta li {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #151B4D;
    text-transform: capitalize;
}

.blog-box .blog-content .blog-meta li>a:hover,
.blog-box .blog-content .blog-meta li>a:focus {
    color: #ffc80a;
}

.blog-box .blog-content .blog-meta li i {
    padding-right: 8px;
    color: #ffc80a;
}

.blog-box .blog-content .read-btn {
    font-size: 18px;
    font-weight: 600;
}

.blog-box .blog-content .read-btn>i {
    vertical-align: middle;
    font-size: 14px;
}
.blog-content h3 a{
    font-weight: 600;
}

/*---------------- News-latter-section ------------*/

.news-title {
    text-align: center;
    margin-bottom: 60px;
}

.search-box {
    position: relative;
}

.search-box input {
    position: relative;
    height: 70px;
    border-radius: 35px;
    box-shadow: 0 0 15px 0 rgba(47, 2, 94, 0.1);
    background-color: #ffffff;
    border: none;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 25px;
}

.search-box .btn-search {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #ffc80a;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.search-box .btn-search i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
    color: #151B4D;
}

/* ----------------------------------------------------------------
     [ 12 Footer-section ]
-----------------------------------------------------------------*/

.footer-bg {
    background-image: url('../images/foot-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-box {
    color: #fff;
    margin-bottom: 20px;
}

.footer-box h3 {
    font-size: 19px;
    color: #fff;
    padding-bottom: 30px;
}

.footer-box .footer-list {
    margin-bottom: 30px
}

.footer-box .footer-list li:first-child {
    padding-top: 0;
}

.copyright-area .copyright-nav li a,
.footer-info p>a,
footer-info .social-icon li>a, 
.footer-box .footer-list li>a {
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.copyright-area .copyright-nav li a:hover, 
.footer-info p>a:hover, 
.footer-info .social-icon li>a:hover, 
.footer-box .footer-list li>a:hover,
.copyright-area .copyright-nav li a:focus, 
.footer-info p>a:focus, 
.footer-info .social-icon li>a:focus, 
.footer-box .footer-list li>a:focus,
.copyright-area .copyright-nav  .nav-item .dropdown .nav-link:hover,
.copyright-area .copyright-nav  .nav-item .dropdown .nav-link:focus {
    color: #ffc80a;
}
.copyright-area .copyright-nav  .nav-item .dropdown li{
    text-align: left;
}
.footer-info .social-icon {
    margin-bottom: 20px;
}

.footer-info .social-icon li {
    display: inline-block;
    padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
}

.footer-info p {
    color: #fff;
    margin-bottom: 15px;
}

.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 0;
    color: #fff;
}
.copyright-area .copyright-nav, .copyright-area p {
    position: relative;
    color: #fff;
    margin: 0;
    padding: 0;
}

.copyright-area .copyright-nav li {
    display: inline-block;
    padding-right: 15px;
}

/*------------- Banner-section --------------*/

.banner-bg {
    background-image: url('../images/banner.jpg');
}

.inner-banner-info {
    margin-top: 30px;
}

.inner-banner-info h2 {
    color: #fff;
    margin-bottom: 20px;
}

.breadcrumb-item+.breadcrumb-item::before, .inner-banner-info p {
    color: #fff;
}

.breadcrumb-right {
    position: relative;
}

.breadcrumb-right .breadcrumb {
    position: absolute;
    right: 0;
    top: 20px;
    background: transparent;
    color: #fff;
    text-transform: capitalize;
        padding-right: 2px;
}

.breadcrumb-item.active {
    color: #ffc80a;
}
.breadcrumb-item a{
    color: #fff;
}

.about-info p {
    letter-spacing: 0.4px;
}

.fixed-bg,.fixed-bg .vc_column-inner {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 !important;
    background-repeat: no-repeat;
}

.fixed-bg img {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.fixed-bg::before,.fixed-bg .vc_column-inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 32, 91, 0.8);
}

.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-btn a {
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    border: 3px solid #fef200;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
}

.service-wt-bor {
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #eee;
    padding: 30px 15px;
}

.service-wt-bor .icon-two {
    background: #151B4D;
    width: 60px;
    height: 60px;
    padding: 15px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 23px;
}

.service-wt-bor .icon-two i::before {
    font-size: 30px;
}

.service-wt-bor h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.service-wt-bor .icon-two.blue {
    background: #594fc2;
    box-shadow: 0px 0px 7px 2px rgba(89, 79, 194, 0.5);
}

.service-wt-bor .icon-two.sky {
    background: #6dc9c8;
    box-shadow: 0px 0px 7px 2px rgba(109, 201, 200, 0.5);
}

.service-wt-bor .icon-two.green {
    background: #45cc89;
    box-shadow: 0px 0px 7px 2px rgba(69, 204, 137, 0.5);
}

.service-wt-bor .icon-two.pink {
    background: #f87489;
    box-shadow: 0px 0px 7px 2px rgba(249, 116, 137, 0.5);
}

.service-wt-bor .icon-two.yallow {
    background: #ff9655;
    box-shadow: 0px 0px 7px 2px rgba(254, 150, 85, 0.5);
}

.about-listing li {
    list-style-type: decimal;
    color: #151B4D;
    font-weight: 600;
    padding-bottom: 10px;
}

/* .seo-img-wapper {
    position: absolute;
    left: 10%;
    width: 35%;
} */

.up-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}

/*------------- Pagination --------------*/

.pagination {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

.pagination li {
    display: inline-block;
}

.pagination li i {
    border: 2px solid #ffc80a;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 7px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.pagination li i:hover,
.pagination li i:focus {
    background: #ffc80a;
}

.pagination li .page-link {
    border: none;
    background: none;
    color: #151B4D;
    font-size: 14px;
    border-radius: 50% !important;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    line-height: 29px;
}

.pagination li .page-link.active {
    background: #ffc80a;
}

.mid-pagination {
    display: inline-block;
    background: #fafafa;
    border-radius: 20px;
    padding: 3px;
}

/*----------- Gallery-filter -------------*/

.gallery-filter-btn {
    margin-bottom: 50px;
}

.gallery-filter-btn button {
    color: #151B4D;
    background: transparent;
    border: none;
    margin: 0px 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.gallery-filter-btn button:hover,
.gallery-filter-btn button:focus, 
.gallery-filter-btn button.active {
    border-color: #ffc80a;
}

.gallery-filter-btn button:focus {
    outline: none;
}

.case-listing .isotop-item {
    margin-bottom: 30px;
}

.project-info {
    box-shadow: 0px 0px 15px 0px rgba(47, 2, 94, 0.1);
    padding-bottom: 0;
}

.project-info .title {
    text-align: center;
    background: #F7F8FA;
    padding: 15px;
    margin-bottom: 0;
}

.project-info ul {
    padding: 10px 0;
    margin-bottom: 0;
    list-style: none;
}

.project-info ul>li {
    border-bottom: 1px solid #fafaf7;
    padding: 20px 30px;
    display: flow-root;
    font-weight: 500;
    color: #151B4D;
}

.project-info ul>li:last-child {
    border-bottom: none;
}

.project-info ul>li>span {
    width: 45%;
    text-align: left;
    float: right;
    color: #7D859F;
}
.pro-diss {
    margin-bottom: 50px;
}
.pro-diss h2 {
    margin-bottom: 30px;
    padding-top: 55px;
    padding-bottom: 0;
    line-height: 1.4;
}
/*------------- Timeline -------------------*/

.timeline-title-info {
    margin-bottom: 80px;
}

.timeline-title-info h2 {
    margin-bottom: 30px;
}

.timeline-title-info h4 {
    max-width: 550px;
    font-weight: 500;
    font-family: 'Hind Siliguri', sans-serif;
}

.main-timeline {
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

.main-timeline:before {
    content: '';
    height: 100%;
    width: 15px;
    background: #fff;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    box-shadow: 0px 0px 15px 0px rgba(47, 2, 94, 0.1);
    border-radius: 30px;
}

.main-timeline .timeline {
    padding-left: 52px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    background-image: -moz-linear-gradient( 90deg, rgb(133, 80, 228) 0%, rgb(0, 177, 248) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(133, 80, 228) 0%, rgb(0, 177, 248) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(133, 80, 228) 0%, rgb(0, 177, 248) 100%);
}

.main-timeline .timeline:before, .main-timeline .timeline:after {
    content: '';
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
    border: 8px solid #fff;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    box-shadow: 0px 0px 15px 0px rgba(47, 2, 94, 0.1);
}

.main-timeline .timeline:after {
    background-color: #fff;
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 0;
    transform: translateX(0) translateY(-50%) rotate(45deg);
    left: 41%;
    box-shadow: 15px -15px 20px -10px rgba(47, 2, 94, 0.1);
    z-index: 1;
}

.main-timeline .timeline-content {
    color: #000;
    background-color: #fff;
    width: 40%;
    border-radius: 30px;
    padding: 25px 25px 30px;
    display: block;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(47, 2, 94, 0.1);
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.main-timeline .timeline-content:hover,
.main-timeline .timeline-content:focus {
    text-decoration: none;
    box-shadow: 0px 0px 80px -20px rgba(47, 2, 94, 0.07);
}
.main-timeline .timeline-content:hover .title,
.main-timeline .timeline-content:focus .title{
    color: #ffc80a;
}
.main-timeline .title {
    color: #151B4D;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: inherit;
    padding: 10px 0 margin: 0;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.main-timeline .description {
    margin: 0;
    padding: 0;
}

.main-timeline .timeline:nth-child(even) {
    padding-left: 0;
    padding-right: 52px;
}

.main-timeline .timeline:nth-child(even):after {
    left: auto;
    right: 41%;
    box-shadow: -15px 15px 20px -10px rgba(47, 2, 94, 0.1);
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: -35px;
}

.main-timeline .timeline:nth-child(4n+2):before {
    background-image: -moz-linear-gradient( 90deg, rgb(228, 94, 37) 0%, rgb(237, 31, 131) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228, 94, 37) 0%, rgb(237, 31, 131) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228, 94, 37) 0%, rgb(237, 31, 131) 100%);
    border: 8px solid #ffffff;
}

.main-timeline .timeline:nth-child(4n+3):before {
    background-image: -moz-linear-gradient( 90deg, rgb(253, 200, 48) 0%, rgb(243, 115, 53) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253, 200, 48) 0%, rgb(243, 115, 53) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(253, 200, 48) 0%, rgb(243, 115, 53) 99%);
    border: 8px solid #ffffff;
}

.main-timeline .timeline:nth-child(4n+4):before {
    background-image: -moz-linear-gradient( 90deg, rgb(12, 235, 235) 0%, rgb(32, 227, 178) 50%, rgb(41, 255, 198) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(12, 235, 235) 0%, rgb(32, 227, 178) 50%, rgb(41, 255, 198) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(12, 235, 235) 0%, rgb(32, 227, 178) 50%, rgb(41, 255, 198) 99%);
    border: 8px solid #ffffff;
}

@media screen and (max-width:990px) {
    .main-timeline .timeline:after {
        left: 40%;
    }
    .main-timeline .timeline:nth-child(even):after {
        right: 40%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content, .main-timeline .timeline-content {
        width: 39%;
    }
}

@media screen and (max-width:767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: 0;
    }
    .main-timeline .timeline:nth-child(even), .main-timeline .timeline {
        padding: 40px 0px 0 50px;
        margin-bottom: 30px;
    }
    .main-timeline .timeline:before {
        transform: translateX(0) translateY(-50%);
        left: -11px;
    }
    .main-timeline .timeline:nth-child(even):after, .main-timeline .timeline:after {
        left: 40px;
        box-shadow: -15px 15px 20px -10px rgba(47, 2, 94, 0.1);
    }
    .main-timeline .timeline:nth-child(even) .timeline-content, .main-timeline .timeline-content {
        width: 100%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon, .main-timeline .timeline-icon {
        font-size: 30px;
        line-height: 50px;
        height: 50px;
        width: 50px;
        transform: translateY(0);
        left: auto;
        right: -20px;
        top: -35px;
    }
    .main-timeline .title {
        font-size: 20px;
    }
    .main-timeline .timeline:nth-child(even) .description, .main-timeline .description {
        padding: 15px 15px 15px 15px;
    }
}

/*-------------- Blog-sidebar ----------------*/

.single-blog .blog-box .blog-content .blog-meta {
     margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    margin-left: 0 !important;
}

.sidebar-box .search-box input {
    height: 50px;
    padding-left: 30px;
    padding-right: 48px;
}

.single-blog .search-box .btn-search ,footer .search-box .btn-search{
    width: 43px;
    height: 43px;
}

.single-blog .search-box .btn-search i {
    font-size: 18px;
}

.sidebar-box {
    margin-bottom: 40px;
    display: flow-root;
}

.sidebar-box .title {
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
}

.Categories-box li {
    padding: 10px 0;
    text-transform: capitalize;
    position: relative;
    padding-left: 18px;
    font-weight: 500;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.Categories-box li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 7px;
    height: 7px;
    background: #dcdcdc;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.Categories-box li:hover ,
.Categories-box li:focus {
    color: #151B4D;
    font-weight: 500;
    margin-left: 8px;
}

.Categories-box li:hover::before,
.Categories-box li:focus::before {
    background: #151B4D;
}

.recent-post {
    margin: 0;
}

.recent-post li {
    padding-top: 10px;
}

.recent-post .post-left {
    max-width: 30%;
    height: auto;
    padding-right: 10px;
    float: left;
    padding-top: 5px;
}

.recent-post .post-right {
    display: inline-block;
    max-width: 70%;
}

.recent-post .post-right h5 {
        color: #151B4D;
    font-weight: 600;
    margin-bottom: 3px;
    line-height: 26px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.recent-post .post-right h5:hover,
.recent-post .post-right h5:focus {
    color: #ffc80a;
}

.recent-post .post-right .date {
    color: #7D859F;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.tags-btn a {
    background: #f7f8fa;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.tags-btn a:hover,
.tags-btn a:focus {
    background: #ffc80a;
}

.add-post {
    position: relative;
    margin-top: 60px;
}

.add-post::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}

.add-post h3 {
    color: #fff;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*------------------ Blockqouts ----------------*/

.quote-card {
    background: #484d73;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 40px 0;
}

.quote-card p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.quote-card p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 190px;
    color: rgba(255, 255, 255, 0.14);
    font-weight: 900;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
}

ul.share-icon {
    margin-bottom: 30px;
}
.share-icon {
   margin-top: 5px;
    margin-bottom: 10px;
    clear: right;
}
.share-icon>.title {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 0 !important;
}
.share-icon ul {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}
.share-icon li {
    display: inline-block;
    margin: 0 8px;
    font-size: 22px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.share-icon li:hover,
.share-icon li:focus {
    color: #ffc80a;
}

/*----------------- Comment-box -------------*/

.comment-area .title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    clear: both;
    font-size: 24px;
    margin-bottom: 50px;
}

.comment-box {
    margin: 0 !important;
    list-style: none;
    padding: 0;
}

.comment-box>li {
    margin-bottom: 40px;
}

.comment-box .left-comment-box {
    float: left;
    margin-right: 20px;
}

.comment-box .right-comment-content {
    max-width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.comment-box .right-comment-content h3.comment-title {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight:600;
}

.comment-box .right-comment-content h3>span {
    color: #7D859F;
    font-size: 15px;
    padding-left: 10px;
}

.comment-box .right-comment-content>a {
    position: absolute;
    top: 8px;
    right: 15px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-box .right-comment-content>a:hover,
.comment-box .right-comment-content>a:focus {
    color: #ffc80a;
}

.left-comment-box img {
    border: 3px solid #ffc80a;
    box-shadow: 0px 3px 21px 0px rgba(67, 57, 169, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment-box .user-two {
    margin-left: 50px;
    border-top: 1px solid #eee;
    padding: 30px 0 0;
    margin-top: 50px;
    display: block;
}

/*---------------- Comment-form ----------------*/

.comment-form .title {
    margin-bottom: 30px;
    clear: both;
}

.comment-form .form-group input {
    border: none;
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    height: 50px;
    border-radius: 40px;
    padding-left: 30px;
    margin-bottom: 30px;
    position: relative;
}

.comment-form textarea.form-control {
    height: auto;
    border: none;
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 30px;
}

.comment-form .btn {
    border: 2px solid #ffc80a;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 35px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.comment-form .btn:focus {
    outline: none;
}

.comment-form .btn:hover,
.comment-form .btn:focus {
    background: #ffc80a;
}

.comment-form .form-icon {
    position: absolute;
    top: 18px;
    right: 30px;
    color: #7D859F;
    opacity: 0.5;
    font-size: 14px;
}

/*-------------------- Accordian -------------*/

.panel-group .panel {
    box-shadow: none;
    margin-bottom: 30px;
    background: #fafafa;
    border-radius: 30px;
}
.panel-default>.panel-heading {
    color: #151B4D;
}

.panel-default a.collapsed {
    border-radius: 30px;
}

.panel-title {
    font-size: 18px;
    vertical-align: middle;
}

.panel-title span {
    color: #151B4D;
    float: right;
    padding-top: 10px;
    padding-left: 5px;
}

.panel-title>a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    width: 100%;
    display: inline-flex;
}

.more-less {
    color: #151B4D;
    background: #ffc80a;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 42px;
    margin-right: 8px;
}

.more-less.fa-angle-up {
    background: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 25px;
    line-height: 24px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.faq-sidebox {
    background: #fafafa;
    padding: 30px 25px;
    margin-bottom: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.faq-form {
    text-align: center;
}

.faq-form #inputState, .faq-form .form-group input {
    box-shadow: 0px 3px 20px 0 rgba(67, 57, 169, 0.1);
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    height: 45px;
    margin-bottom: 30px;
}

.faq-form #inputState {
    margin-bottom: 30px;
}

.contact-form .btn-1,.btn-1, .faq-form .btn-1 {
    background: transparent;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

.contact-form .btn-1:hover,
.btn-1:hover, 
.faq-form .btn-1:hover ,
.contact-form .btn-1:focus,
.btn-1:focus, 
.faq-form .btn-1:focus {
    background: #ffc80a;
}

.contact-info li {
    margin-bottom: 25px;
    color: #7D859F;
    list-style: none;
    font-size: 16px;
}

.contact-info li span {
    display: block;
    color: #151B4D;
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 14px;
    text-transform: uppercase;
}

.contact-inner .title {
    margin-bottom: 30px;
}

.contact-inner p {
    margin-bottom: 40px;
}

.contact-form .form-group input,.form-group input {
    border: none;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 25px;
    background: #f7f8fa;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contact-form textarea.form-control,textarea.form-control {
    background: #f7f8fa;
    border: none;
    margin-bottom: 30px;
    padding: 30px 15px;
    padding-top: 15px;
        height: 14em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contact-form textarea.form-control:focus,
.contact-form .form-group input:focus{
    box-shadow: none;
}

/*---- Google Map ----*/

.map {
    height: 350px;
}

.error-box {
    text-align: center;
}

.error-box h1 {
    font-size: 250px;
    line-height: 250px;
    display: block;
    color: #151b4d;
}

.error-box span {
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: #151b4d;
    margin-bottom: 20px;
    display: block;
}

.error-box p {
    color: #151b4d;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 30px;
}
.wpb_text_column.wpb_content_element.fun-facts {
    margin-bottom: 60px;
}
.fun-facts-img img {
    margin: 50px 0;
}
.pricingTable .pricing-content ul li:first-child {
    padding-top: 0;
}
.pricingTable .pricing-content ul li:last-child {
    padding-bottom: 0;
}
ol.about-listing.pt-3.pl-3 {
    padding-top: 10px !important;
}
.left-title h2.sec-title.dark {
    text-align: left;
}
.sem-btn .btn-box {
    margin-top: 40px;
}