.digicrew-debug textarea {
    height: 400px;
    width: 800px;
}
.digicrew-metabox-table tr { border-bottom: 1px solid #EEEEEE }

.digicrew-metabox-table tr:last-child { border-bottom: none }

.digicrew-metabox-table th { width: 25% }

.digicrew-metabox-table th { padding: 20px 10px }

.digicrew-metabox-table td {
    width: 20%;
    border-right: 1px solid #EEEEEE
}

.digicrew-metabox-table td.full-width-class {
    width: 100%;
    border-right: none;
}

.digicrew-metabox-table input[type=number] { width: 70% }

.digicrew-metabox-table label span {
    color: #999999;
    font-size: 12px;
    display: block;
    line-height: 20px;
    margin: 0px 0 0;
    font-weight: normal;
}
.digicrew-metabox-table input[type="text"], .digicrew-metabox-table textarea {
    float: left;
    margin-right: 20px;
    width: 100%;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.digicrew-metabox-table textarea#_digicrew_slider_caption, .digicrew-metabox-table input#_digicrew_slider_heading {
  	transition: border-color 0.2s linear;
  	-webkit-transition: border-color 0.2s linear;
}

.digicrew-metabox-table input[type=checkbox] {
	width: 20px;
}

.digicrew-metabox-table input.file {
    width: 85%;
}
.digicrew-metabox-table input.button {
    margin-right: 0;
    width: auto;
}
.digicrew-metabox-table input.radio {
    float: none;
    margin-right: 3px;
    width: auto;
}
.digicrew-metabox-table .radio-label {
    margin-right: 10px;
}
.file_display_text {
    margin-bottom: 12px;
}

.digicrew-metabox-table .iris-picker { position: absolute!important }