/*
	Flaticon icon font: Flaticon
	Creation date: 16/05/2019 08:44
*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    line-height: 1;
    font-style: normal;
    margin-left: 0;
}

.flaticon-data:before {
    content: "\f100";
}

.flaticon-vector:before {
    content: "\f101";
}

.flaticon-web-design:before {
    content: "\f102";
}

.flaticon-web-design-1:before {
    content: "\f103";
}

.flaticon-app:before {
    content: "\f104";
}

.flaticon-layout:before {
    content: "\f105";
}

.flaticon-research:before {
    content: "\f106";
}

.flaticon-internet:before {
    content: "\f107";
}

.flaticon-backup:before {
    content: "\f108";
}

.flaticon-cloud:before {
    content: "\f109";
}

.flaticon-share:before {
    content: "\f10a";
}

.flaticon-statistics:before {
    content: "\f10b";
}

.flaticon-computer-graphic:before {
    content: "\f10c";
}

.flaticon-research-1:before {
    content: "\f10d";
}

.flaticon-ux:before {
    content: "\f10e";
}

.flaticon-product:before {
    content: "\f10f";
}